<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Points - Interview Test Server</title>
        <link rel="icon" href="../static/points-logo-vertical.png">

        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/48fcb9931e.js" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Instructions for Points' interview server to test dev applicants.">
    </head>
    <body>

        <nav id="sidebar">
            <img src="../static/points-logo-transparent.png" alt="PointsLogo">
            <a class="active" href="/">
                <i class="fa fa-fw fa-home large-icon"></i>
                Home Page
            </a>
            <a href="/tax-calculator/">
                <i class="fas fa-calculator small-icon"></i>
                Tax Calculator App
            </a>
            <a href="/autonomous-car/">
                <i class="fas fa-car medium-icon"></i>
                Autonomous Car App
            </a>
        </nav>

        <main id="main-section">
            <header>
                <div id="title-section" class="panel centered">
                    <a class="no-decoration-link" href="/">
                        <h1 class="points-grey-text">
                            <i class="fas fa-code"></i>
                            Points Interview Server
                            <i class="fas fa-code"></i>
                        </h1>
                    </a>
                </div>
            </header>

            <article>
                <div id="description-section">
                    <h3>Description:</h3>
                    <p class="description">
                        Welcome! Please build one of the following applications in either:
                        <strong><i class="fab fa-react"></i> React.js</strong> or
                        <strong><i class="fab fa-python"></i> Python</strong>.

                        <br><br>

                        There are two levels for each assignment, level 1 being the easiest, and level 2 containing some
                        'gotchas' and other unexpected behaviour. If you complete the first level with ease, feel free
                        to jump to the next level, but please timebox your solution to a maximum of one day.
                    </p>
                </div>
                <div id="assignment-section">
                    <h3>Assignment Options:</h3>

                    <div id="large-assignment-buttons" class="panel">
                        <div id="tax-calculator-button" class="large-assignment-button centered">
                            <a href="/tax-calculator/" class="no-decoration-link">
                                <img class="large-assignment-button-image" src="../static/calculator-icon.png" alt="TaxCalculator-Image">
                                <div class="container">
                                    <h4><b>Tax Calculator</b></h4>
                                    <p class="large-assignment-button-description">Calculate the total amount owed in taxes based on an income.</p>
                                </div>
                            </a>
                        </div>

                        <div id="autonomous-car-button" class="large-assignment-button centered">
                            <a href="/autonomous-car/" class="no-decoration-link">
                                <img class="large-assignment-button-image" src="../static/car-icon-1.png" alt="AutonomousCar-Image">
                                <div class="container">
                                    <h4><b>Autonomous Car</b></h4>
                                    <p class="large-assignment-button-description">Navigate a car based on a provided track and instructions.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </body>
</html>